<footer>
    <!--Contacto-->  
    <section class="contacto">
      <div class="container">
        <h1 class="violeta text-center text-lg-start">Contacto</h1>
         <div class="row">
          <div class="col-lg-6 flex-colum text-center text-lg-start">
          <h4 class="texto">Mis redes sociales</h4>
          <ul style="list-style: none" class="list-group list-group-horizontal texto">
            <li class="ist-group-item"> <a class="iconos" href="https://www.instagram.com/martufrenda/" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
            <li class="ist-group-item"> <a class="iconos" href="http://linkedin.com/in/MartinaLaraFrenda" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
            <li class="ist-group-item"> <a class="iconos" href="https://github.com/MartinaFrenda" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a></li>
          </ul>
         </div>
         <div class="col-lg-6 flex-colum text-center text-lg-start">
          <h4 class="texto">Mi correo electrónico</h4>
          <h5 class="texto">martufrenda5@gmail.com</h5>
         </div>
       </div>
       <h6 class="text-center texto"> <small><i class="fa-regular fa-copyright"></i>Copyright Martina Lara Frenda - {{ anio }} </small></h6>
      </div>
    </section>
    </footer>