/* habilidades */
.habilidades{
    margin-top: 4rem;
}
.progress-circle { 
    position: relative; 
    display: inline-block; 
    margin: 1rem; 
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    background-color: #ebebeb; 
}
.progress-circle:after { 
    content: ''; 
    display: inline-block; 
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    -webkit-animation: colorload 2s; 
    animation: colorload 2s; 
} 
.progress-circle span { 
    font-size: 1rem; 
    color: #8b8b8b; 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    display: block; 
    width: 90px; 
    height: 90px; 
    line-height: 90px; 
    margin-left: -45px; 
    margin-top: -45px; 
    text-align: center; 
    border-radius: 50%; 
    background: #fff; 
    z-index: 1; 
} 
.progress-circle span:after { 
    content: "%"; 
    font-weight: 600; 
    color: #8b8b8b; 
}

.progress-circle.progress-95:after { background-image: linear-gradient(72deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }
