  <!--navbar-->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid" *ngFor="let banner of banner">
      <a class="navbar-brand" routerLink="/home">
        <img [src]="banner.logoargentina" alt="logoArgPrograma" class="letras-negras" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i> 
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#contacto">Contacto</a>
          <!-- Button inicio de sesion-->
           <a routerLink="/login" aria-current="page" class="nav-link active">Ingresar</a>
        </div>
      </div>
    </div>
  </nav>
<!--banner-->
<section class="banner">
    <div class="card text-bg-dark text-center" *ngFor="let banner of banner">
      <img [src]="banner.foto" class="card-img img-fluid" alt="banner">
        <div class="card-img-overlay">
        <h1 class="card-title intro"> {{banner.texto}} </h1>
        <h5 class="card-text"> {{banner.puesto}} </h5>
      </div>
    </div>
    </section>
<!--Presentación-->
<section class="presentacion">
    <div class="container">
      <div class="row" *ngFor="let presentacion of presentacion">
        <div class="col-lg-2 flex-colum text-center text-lg-start">
          <img [src]="presentacion.foto" class="rounded-circle img-fluid avatar" width="200" alt="avatar">
        </div>
        <div class="col-lg-10 flex-colum text-center text-lg-start presentacion">
          <h5> {{ presentacion.texto }} </h5>
        </div>
      </div>
    </div>
    </section>
<!--Educacióm-->
<section class="educacion">
    <div class="container">
      <h2 class="violeta">Educación</h2>
      <div class="educaciontexto" *ngFor="let educacion of educacion">
         <h5> <b>{{ educacion.institucion }}</b> {{ educacion.titulo}} </h5>
         <h5> {{ educacion.descripcion }} </h5>
         <h6> {{ educacion.inicio }}/{{ educacion.fin }} </h6>
        </div>
     </div>
  </section>
<!--Experiencia-->
<section class="experiencia">
    <div class="container" *ngFor="let experiencia of experiencia">
      <h2 class="violeta">Experiencia</h2>
      <h5><b>{{experiencia.empresa}}</b> {{experiencia.puesto}} </h5>
      <h6> {{experiencia.inicio}}/{{experiencia.fin}} </h6>
    </div>
  </section>
  <!--Habilidades-->
<section class="habilidades">
    <div class="container">
      <h2 class="violeta habilidades">Habilidades</h2>
      <div class="progress" *ngFor="let habilidades of habilidades">
        <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="habilidades.porcentaje" role="progressbar" 
        aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
           {{ habilidades.nombre }} {{habilidades.porcentaje}}%
        </div>
      </div>
    </div>
  </section>
<!--Proyectos-->
<section class="proyectos">
  <div class="container" *ngFor="let proyectos of proyectos">
    <h2 class="violeta">Proyectos</h2>
    <h5> {{proyectos.empresa}} </h5>
    <h6> {{proyectos.inicio}}/{{proyectos.fin}} </h6>
  </div>
</section>

  <footer>
    <!--Contacto-->  
    <section class="contacto" id="contacto">
      <div class="container">
        <h2 class="violeta text-center text-lg-start">Contacto</h2>
         <div class="row" *ngFor="let contacto of contacto">
          <div class="col-lg-6 flex-colum text-center text-lg-start">
          <h6 class="texto">Mis redes sociales</h6>
          <ul style="list-style: none" class="list-group list-group-horizontal texto">
            <li class="ist-group-item"> <a class="iconos" [href]="contacto.instagram" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
            <li class="ist-group-item"> <a class="iconos" [href]="contacto.linkedin" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
            <li class="ist-group-item"> <a class="iconos" [href]="contacto.github" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a></li>
          </ul>   
         </div>
         <div class="col-lg-6 flex-colum text-center text-lg-start">
          <h6 class="texto">Mi correo electrónico</h6>
          <p class="texto">{{contacto.correo}}</p>
         </div>
       </div>
       <p class="text-center texto derechos"> <small><i class="fa-regular fa-copyright"></i>Copyright Martina Lara Frenda - {{ anio }} </small></p>
      </div>
    </section>
    </footer>
