/* navbar */
.letras-negras {
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
}
/* banner */
.card-img {
    opacity: 0.5;
}
h1.intro{
    padding-top: 20%;
    font-size: 3rem;
}
/* presentacion */
.presentacion{
    margin-top: 4rem;
}
h4.presentacion{
    margin-top: 100rem;
}
  /* educacion */
  .educacion{
    margin-top: 4rem
}
.educaciontexto{
    margin-top: 2rem;
}
/* experiencia */
.experiencia{
    margin-top: 4rem;
}
/* habilidades */
.habilidades{
    margin-top: 4rem;
}
/* círculos en general */
.progress-circle { 
    position: relative; 
    display: inline-block; 
    margin: 1rem; 
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    background-color: #ebebeb; 
}
.progress-circle:after { 
    content: ''; 
    display: inline-block; 
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    -webkit-animation: colorload 2s; 
    animation: colorload 2s; 
}
.progress-circle span { 
    font-size: 1rem; 
    color: #8b8b8b; 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    display: block; 
    width: 90px; 
    height: 90px; 
    line-height: 90px; 
    margin-left: -45px; 
    margin-top: -45px; 
    text-align: center;
    border-radius: 50%; 
    background: #fff; 
    z-index: 1; 
}
/* cada circulo */
.progress-circle.progress-70:after { 
    background-image: linear-gradient(-18deg, #7E429B 50%, transparent 50%, transparent), 
    linear-gradient(270deg, #7E429B 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.progress-50:after { 
    background-image: linear-gradient(-90deg, #7E429B 50%, transparent 50%, transparent), 
    linear-gradient(270deg, #7E429B 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.progress-30:after { 
    background-image: linear-gradient(90deg, #ebebeb 50%, transparent 50%, transparent), 
    linear-gradient(198deg, #7E429B 50%, #ebebeb 50%, #ebebeb); 
}
.progress-circle.progress-57:after { 
    background-image: linear-gradient(-64.8deg, #7E429B 50%, transparent 50%, transparent), 
    linear-gradient(270deg, #7E429B 50%, #ebebeb 50%, #ebebeb); 
}

/* proyectos */
.proyectos{
    margin-top: 4rem;
}
/* contacto */
.contacto{
    background-color: #000;
    margin-top: 4rem;
}
.texto{
    color: #fff;
}
.list-group{
    --bs-list-group-bg: transparent;
}
.ist-group-item{
    padding: 10px 20px;
}
.fa-brands.fa-instagram.fa-2x:hover {
    color: #f06dd8;
}
.fa-brands.fa-linkedin.fa-2x:hover {
    color: rgb(44, 110, 252);
}
.fa-brands.fa-github.fa-2x:hover {
    color: rgb(22, 226, 42);
}
a.iconos:link {color:#ffffff;}
a.iconos:visited {color:#ffffff;}
a.iconos:active {color:#ffffff;}
h6.texto{
    padding: 2rem
}