  <!--navbar-->
  <app-header></app-header>
<!--banner-->
    <app-banner></app-banner>
<!--Presentación-->
    <app-presentacion></app-presentacion>
<!--Educacióm-->
  <app-educacion></app-educacion>
<!--Experiencia-->
<app-experiencia></app-experiencia>
  <!--Habilidades-->
  <app-habilidades></app-habilidades>
<!--Proyectos-->
<section class="proyectos">
  <div class="container" >
    <h2 class="violeta">Proyectos</h2>
  <div class="proyecto" *ngFor="let proyectos of proyectos">
    <h5> {{proyectos.empresa}} </h5>
    <h6> {{proyectos.inicio}}/{{proyectos.fin}} </h6>
    <a [href]="proyectos.link" target="_blank" class="link">Ver</a>
    </div>
  </div>
</section>

  <footer>
    <!--Contacto-->  
    <section class="contacto" id="contacto">
      <div class="container">
        <h2 class="violeta text-center text-lg-start">Contacto</h2>
         <div class="row" *ngFor="let contacto of contacto">
          <div class="col-lg-6 flex-colum text-center text-lg-start">
          <h6 class="texto">Mis redes sociales</h6>
          <ul style="list-style: none" class="list-group list-group-horizontal texto">
            <li class="ist-group-item"> <a class="iconos" [href]="contacto.instagram" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
            <li class="ist-group-item"> <a class="iconos" [href]="contacto.linkedin" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
            <li class="ist-group-item"> <a class="iconos" [href]="contacto.github" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a></li>
          </ul>   
         </div>
         <div class="col-lg-6 flex-colum text-center text-lg-start">
          <h6 class="texto">Mi correo electrónico</h6>
          <p class="texto">{{contacto.correo}}</p>
         </div>
       </div>
       <p class="text-center texto derechos"> <small><i class="fa-regular fa-copyright"></i>Copyright Martina Lara Frenda - {{ anio }} </small></p>
      </div>
    </section>
    </footer>
