  <!--navbar-->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="./assets/img/logoArgPrograma.png" alt="logoArgPrograma" class="letras-negras" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i> 
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#contacto">Contacto</a>
          <!-- Button inicio de sesion-->
           <a routerLink="/login" aria-current="page" class="nav-link active">Ingresar</a>
        </div>
      </div>
    </div>
  </nav>
<!--banner-->
<section class="banner">
    <div class="card text-bg-dark text-center">
      <img src="{{_servicio.info.fotoBanner}}" class="card-img img-fluid" alt="banner">
        <div class="card-img-overlay">
        <h1 class="card-title intro"> {{_servicio.info.textoBanner}} </h1>
        <h5 class="card-text"> {{_servicio.info.puesto}} </h5>
      </div>
    </div>
    </section>
<!--Presentación-->
<section class="presentacion">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 flex-colum text-center text-lg-start">
          <img src="{{_servicio.info.fotoPresentacion}}" class="rounded-circle img-fluid avatar" width="200" alt="avatar">
        </div>
        <div class="col-lg-10 flex-colum text-center text-lg-start presentacion">
          <h4> {{_servicio.info.textoPresentacion}} </h4>
        </div>
      </div>
    </div>
    </section>
<!--Educacióm-->
<section class="educacion">
    <div class="container">
      <h1 class="violeta">Educación</h1>
      <div class="educaciontexto">
        <h4><b> {{_servicio.info.colegio}} </b> {{_servicio.info.puestoColegio}} </h4>
        <br>
        <h4><b> {{_servicio.info.curso}} </b> {{_servicio.info.puestoCurso}} </h4>
        <br>
         <h4><b> {{_servicio.info.facultad}} </b> {{_servicio.info.puestoFacultad}} </h4>
     </div>
    </div>
  </section>
<!--Experiencia-->
<section class="experiencia">
    <div class="container">
      <h1 class="violeta">Experiencia</h1>
      <h4>...</h4>
    </div>
  </section>
  <!--Habilidades-->
<section class="habilidades">
    <div class="container">
      <h1 class="violeta habilidades">Habilidades</h1>
      <div class="progress-circle-container">
        <div class="progress-circle progress-70">
          <span>HTML</span>
        </div>
        <div class="progress-circle progress-50">
          <span>CSS</span>
        </div>
        <div class="progress-circle progress-30">
          <span>JS</span>
        </div>
        <div class="progress-circle progress-57">
          <span>ANGULAR</span>
        </div>
      </div>
    </div>
  </section>
<!--Proyectos-->
<section class="proyectos">
    <div class="container">
      <h1 class="violeta">Proyectos</h1>
      <h4>...</h4>
    </div>
  </section>

  <footer>
    <!--Contacto-->  
    <section class="contacto" id="contacto">
      <div class="container">
        <h1 class="violeta text-center text-lg-start">Contacto</h1>
         <div class="row">
          <div class="col-lg-6 flex-colum text-center text-lg-start">
          <h4 class="texto">Mis redes sociales</h4>
          <ul style="list-style: none" class="list-group list-group-horizontal texto">
            <li class="ist-group-item"> <a class="iconos" [href]="_servicio.info.instagram" target="_blank"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
            <li class="ist-group-item"> <a class="iconos" [href]="_servicio.info.linkedin" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
            <li class="ist-group-item"> <a class="iconos" [href]="_servicio.info.github" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a></li>
          </ul>
         </div>
         <div class="col-lg-6 flex-colum text-center text-lg-start">
          <h4 class="texto">Mi correo electrónico</h4>
          <h5 class="texto"> <a href="mailTo:{{ _servicio.info.correo }}" target="_blank" class="iconos text-decoration-none">{{ _servicio.info.correo }} </a></h5>
         </div>
       </div>
       <p class="text-center texto derechos"> <small><i class="fa-regular fa-copyright"></i>Copyright Martina Lara Frenda - {{ anio }} </small></p>
      </div>
    </section>
    </footer>
