<!--Educacióm-->
<section class="educacion">
    <div class="container">
      <h1 class="violeta">Educación</h1>
      <div class="educaciontexto">
      <h4><b>Colegio Modelo Lomas:</b> título secundario, bachiller orientado en economía y administración; 2021.</h4>
      <br>
      <h4><b>Curso Argentina Programa:</b> desarrollador web Full-Stack junior.</h4>
      <br>
       <h4><b>Universidad Tecnológica Nacional:</b> ingresante en la carrera de ingeniería en sistemas de información.</h4>
     </div>
    </div>
  </section>
