      <!--navbar-->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="./assets/img/logoArgPrograma.png" alt="logoArgPrograma" class="letras-negras" width="150">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i> 
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#contacto">Contacto</a>
          <!-- Button inicio de sesion-->
           <a routerLink="/login" aria-current="page" class="nav-link active">Ingresar</a>
        </div>
      </div>
    </div>
  </nav>
    <!--inicio de sesion-->
    <section class="login">
        <div class="container">
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
              <h1 class="violeta logintitulo">Iniciar Sesión</h1>
              <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                  <div class="mb-3">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="mail">
                  </div>
                  <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <!--<input type="password" _ngcontent-hvy-c50 formControlName="password" class="form-control ng-untouched ng-pristine ng-invalid" ng-reflect-name="password"> -->
                  <input type="password" class="form-control" formControlName="password">
                  </div>
                  <button type="submit" class="btn btn-primary" routerLink="/panel">Entrar</button>
                  <small><a routerLink="/registro">Registrarse</a></small>
                </form>
            </div>
            <div class="col-2">
            </div>
          </div>
        </div>
      </section>
