    <!--inicio de sesion-->
    <section class="login">
        <div class="container">
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
              <h1 class="violeta logintitulo">Iniciar Sesión</h1>
              <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                  <button type="submit" class="btn btn-primary">Entrar</button>
                  <small><a href="./registro.html">Registrarse</a></small>
                </form>
            </div>
            <div class="col-2">
            </div>
          </div>
        </div>
      </section>
