/* navbar */
.letras-negras {
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
}
/* login */
.login{
    height: 75vh;
}
.logintitulo{
    margin-top: 4rem;
}
.border-danger{
    border-color: red;
}
.error{
    color: red;
}