<!--Presentación-->
<section class="presentacion">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 flex-colum text-center text-lg-start">
          <img src="./assets/img/memoji3.webp" class="rounded-circle img-fluid avatar" width="200" alt="avatar">
        </div>
        <div class="col-lg-10 flex-colum text-center text-lg-start presentacion">
          <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, impedit. Illum commodi, consectetur tempora exercitationem aliquid mollitia est dolor tempore earum, deleniti fuga, officia in eius voluptatem. Culpa, veniam quaerat?</h4>
        </div>
      </div>
    </div>
    </section>
