*{
    font-family: "Fira Sans", sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1.violeta{
    color: #7E429B;
}



@media screen and (max-width: 414px) {

    h1.intro{
        padding-top: 2rem;
        font-size: 2rem;
    }
    .presentacion{
        margin-top: 2rem;
    }
    .avatar{
        width: 125px;
    }
    h1.violeta{
        text-align: center;
    }
    
}

