*{
    font-family: "Fira Sans", sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1.violeta{
    color: #7E429B;
}


/* login */
.login{
    height: 75vh;
}
.logintitulo{
    margin-top: 4rem;
}

/* panel */
.panel{
    margin-top: 3rem;
}
a.link{
    text-decoration: none;
}
a.link:link {color:#000000;}
a.link:visited {color:#000000;}
a.link:active {color:#000000;}
a.link:hover {color:#7E429B}

nav.vertical{
    float: left;
}
li.vertical{
    display: block;
    margin: 0;
    padding: 1rem 0;
}
.redes{
    margin-top: 1.5rem;
}

@media screen and (max-width: 414px) {

    h1.intro{
        padding-top: 2rem;
        font-size: 2rem;
    }
    .presentacion{
        margin-top: 2rem;
    }
    .avatar{
        width: 125px;
    }
    h1.violeta{
        text-align: center;
    }
    
}

