*{
    font-family: "Fira Sans", sans-serif;
}

.letras-negras {
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
}

.card-img {
    opacity: 0.5;
}

h1.intro{
    padding-top: 20%;
    font-size: 3rem;
}

.presentacion{
    margin-top: 4rem;
}

h4.presentacion{
    margin-top: 8rem;
}

.educacion{
    margin-top: 4rem
}
h1.educacionvioleta{
    color: #7E429B;
}
.educaciontexto{
    margin-top: 2rem;
}

.contacto{
    background-color: #000;
    margin-top: 4rem;
}
.texto{
    color: #fff;
}
h1.contactovioleta{
    color: #7E429B;
}
.list-group{
    --bs-list-group-bg: transparent;
}
.ist-group-item{
    padding: 10px 20px;
}
.fa-brands.fa-instagram.fa-2x:hover {
    color: #f06dd8;
}
.fa-brands.fa-linkedin.fa-2x:hover {
    color: rgb(44, 110, 252);
}
.fa-brands.fa-github.fa-2x:hover {
    color: rgb(22, 226, 42);
}


@media screen and (max-width: 414px) {

    h1.intro{
        padding-top: 2rem;
        font-size: 2rem;
    }
    .presentacion{
        margin-top: 2rem;
    }
    .avatar{
        width: 125px;
    }
    h1.educacionvioleta{
        text-align: center;
    }
    
}

